{% extends 'base/base.html' %}

{% block content %}
    {% from "_macro.html" import render_field %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Flask Facilito</h3>
        </div>
        <div class="panel-body">
            <form name="sentMessage" id="contactForm" method="POST">
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        {{ render_field(form.username, class='form-control') }}
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        {{ render_field(form.email, class='form-control') }}
                        <p class="help-block text-danger"></p>
                    </div>
                </div>

                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        {{ render_field(form.comment, class='form-control') }}
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                
                <br>
                <div id="success">
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-info">Send</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}